<!DOCTYPE html>
<html>
   <head>
        <title>chatroom-101-v2</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <a href="/logout" class="btn">Log out</a>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-8">
                    <div id="chat-room">
                        <div id="chat-window">
            
                            <div id="output">
                                <%messages.forEach(function(message) {%>
                                <p><strong><%=message.handle%>:</strong>
                                <%=message.message%>
                                <span id="time_stamp"><%=message.time_stamp%></span>
                                </p>
                                <% }) %>
                            </div>
                            <div id="feedback"></div>
            
                        </div>
                        <div id="message-window">
                            <h4 id="handle" type="text"><%=user_username%></h4>
                            <form>
                                <input id="message" type="text" placeholder="Message">
                                <button id="send">Send</button>
                            </form>
                        </div>
            
                    </div>
                </div>
                
                <div class="col col-md-4">
                    <div id="online_users_display">
                        <h3>Users currently online: </h3>
                    </div>
                </div>
            </div>
        </div>

    <script src="/javascript/chat.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
