<h1>INDEX</h1>

<!--Log In-->
<div id="log_in_container">
    <h2>Log In</h2>
    <form action="/login" method="post" id="log_in_form">
        <input type="text" id= "log_in_username" name="username" placeholder="Username">
        <input type="password" id= "log_in_password" name="password" placeholder="Password">
        <button>Submit</button>
    </form>

</div>


<!--Sign Up-->
<div class="sign_up_container">
    <h2>Sign Up</h2>
    <form action="/signup" method="post" id="sign_up_form">
        <input type="text" id= "sign_up_username" name="username" placeholder="Username">
        <input type="password" id="sign_up_password" name="password" placeholder="Password">
        <button>Submit</button>
    </form>

</div>


<!--Link to chatroom-->
<a href="/chatroom">Go to Chatroom</a>