<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css"></link>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <title>Chatroom Practice</title>
    </head>
    <body>
        <div id="chat-room">
            <div id="chat-window">
                <div id="output"></div>
                <div id="feedback"></div>
            </div>
            <div id="message-window">
                <input id="handle" type="text" placeholder="Handle">
                <input id="message" type="text" placeholder="Message">
                <button id="send">Send</button>                
            </div>
        </div>
        <script src="js/chat.js"></script>
    </body>
</html>
